<script>
export default {
  name: 'TableOfContentsList',
  props: {
    items: {
      type: Array,
      required: true,
    },
    level: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    // activeLink: to keep track of the active link as gitlab_ui no longer supports this.
    return {
      activeLink: null,
    };
  },
  computed: {
    allItems() {
      return this.items.map((item) => {
        const level = this.level + (item.level || 0);

        return {
          ...item,
          level,
          levelClass: `toc-level-${level}`,
        };
      });
    },
  },
  methods: {
    setActiveLink(link) {
      this.activeLink = link;
    },
  },
};
</script>
<template>
  <ul class="nav nav-pills gl-flex-direction-column">
    <li v-for="(item, index) in allItems" :key="`${item.text}_${index}`" class="gl-mb-0!">
      <a
        :id="item.id"
        class="nav-link gl-display-block"
        :href="item.href"
        :class="[item.levelClass, { active: activeLink === item }]"
        @click="setActiveLink(item)"
        >{{ item.text }}</a
      >
      <table-of-contents-list
        v-if="item.items && item.items.length"
        :items="item.items"
        :level="item.level + 1"
        @item-clicked="setActiveLink"
      />
    </li>
  </ul>
</template>
