
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <%= render '/canonical_urls.*' %>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" data-spy="scroll" data-bs-target="#doc-nav" data-bs-offset="90">
    <%= render '/header.*' %>
    <div id="js-version-banner"></div>
    <section class="gl-docs container-fluid" data-elastic-exclude>
      <div class="row">
        <div class="col-0 col-xl-2 pl-0">
          <div class="nav-wrapper active gl-display-none!">
            <aside id="global-nav" class="global-nav">
            <!-- Render the global nav only if CI_PROJECT_NAME is gitlab-docs or is not set -->
            <% if gitlab_docs_or_local? %>
              <%= render '/global_nav.*' %>
            <% end %>
            </aside>
            <div id="js-nav-toggle"></div>
          </div>
        </div>
        <div class="main pl-xl-4 wrapper js-main-wrapper col-12 col-xl-7">
          <%= render '/banner.*' %>
          <div class="row">
            <div class="col">
              <div class="mobile-toggle-wrapper gl-mt-7">
                <a class="gl-absolute text-muted gl-text-decoration-none gl-border-bottom-0! mobile-nav-toggle">
                  <%= icon('hamburger', 18, 'gl-ml-0!') %>
                </a>
              </div>
            </div>
          </div>
          <div class="row d-xl-none">
            <div class="col">
              <div class="doc-nav toc-mobile"></div>
            </div>
          </div>
          <main>
            <div class="row">
              <div class="col">
                <div class="article-content js-article-content" role="main" itemscope itemprop="mainContentOfPage" data-elastic-include>
                  <%= yield %>
                </div>
              </div>
            </div>
          </main>
          <div class="row">
            <div class="col">
              <%= render '/feedback.*' %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= render '/footer.*' %>
            </div>
          </div>
        </div>
        <div class="col-3 d-none d-xl-flex">
          <div id="doc-nav" class="doc-nav w-100"></div>
        </div>
      </div>
    </section>
    <script src="<%= @items['/frontend/navigation/global_nav.*'].path %>"></script>
    <script src="/assets/vendor/vue.min.js"></script>
    <script src="/assets/vendor/jquery.slim.min.js"></script>
    <script src="/assets/vendor/bootstrap.bundle.min.js"></script>

    <script src="<%= @items['/frontend/default/default.*'].path %>"></script>
    <% if @config[:search_backend] == "elastic" %>
    <script src="<%= @items['/frontend/search/elastic_search.*'].path %>"></script>
    <script src="<%= @items['/frontend/search/recently_viewed.*'].path %>"></script>
    <% elsif @config[:search_backend] == "lunr" %>
    <script src="<%= @items['/frontend/search/lunrsearch.*'].path %>"></script>
    <% end %>
    <script src="<%= @items['/frontend/shared/clipboardjs.*'].path %>"></script>

    <% if @item.compiled_content.include? "load-mermaid" %>
      <script src="/assets/vendor/mermaid.min.js"></script>
      <script src="<%= @items['/assets/javascripts/mermaid.*'].path %>"></script>
    <% end %>
    <% if @item.identifier.to_s == '/ee/update/deprecations.md' %>
      <script>
        const GITLAB_RELEASE_DATES = <%= @config[:release_dates] %>;
      </script>
      <script src="<%= @items['/frontend/deprecations/deprecations.*'].path %>"></script>
    <% end %>
    <% if @item.identifier.to_s == '/archives/index.md' %>
      <script src="<%= @items['/frontend/archives/archives.*'].path %>"></script>
    <% end %>
    <script src="<%= @items['/frontend/header/index.*'].path %>"></script>
    <script src="<%= @items['/frontend/default/badges.*'].path %>"></script>
    <script src="<%= @items['/frontend/default/feature_details.*'].path %>"></script>

    <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  </body>
</html>
